<header>
    
</header>
<h2 class="titulo">Nossos Trabalhos</h2>
<div class="container-fluid topo">
    <div class="row section2 sobre" data-toggle="modal" data-target="#Projeto1">
        <div class="col">
            <img class="imagemProjeto float-right"  src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076533_960_720.jpg">
        </div>
        <div class="col m-3">
            <div id="sub" >Projeto 1</div>
            <ul ><!--Colcoar a foto de um trabalho(recomendo a sua página de html da simone-->
                <li>descrição do projetos descrição </li>
                <li>Tecnologia1</li>
                <li>Tecnologia2</li>
                <li>Tecnologia3</li>
                <li>Tecnologia4</li>   
            </ul>
        </div>
    </div> <!--Final da primeira imagem do projeto.-->
    <div class="modal" id="Projeto1">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Projeto 1</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  Uma breve descrição desse nosso projeto. Esse é o modal de HTML.
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
      <div class="row section3 sobre" data-toggle="modal" data-target="#Projeto2">
        <div class="col m-3">
          <div id="sub">Projeto Biblioteca</div>
          <ul>
            <li>descrição do projetos descrição</li>
            <li>Tecnologia1</li>
            <li>Tecnologia2</li>
            <li>Tecnologia3</li>
            <li>Tecnologia4</li>          
          </ul>
        </div>
        <div class="col">
          <img class="imagemProjeto"  src="./assets/projeto_java.jpg">
        </div> 
      </div> 
      <div class="modal" id="Projeto2">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Projeto Biblioteca</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <p>Projeto realizado para uma biblioteca que desejava evoluir e acompanhar os dias modernos. Foi realizado um programa, baseado em 
                      java, que registrava os clientes novos, os livros existentes, os distribuidores com os quais faziam negocios e gerenciava os emprestimos 
                      realizados.
                  </p>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
    <div class="row section2 sobre" data-toggle="modal" data-target="#Projeto3">
        <div class="col">
            <img class="imagemProjeto float-right"  src="./assets/rede.jpg">
        </div>
        <div class="col m-3">
            <div id="sub">Projeto Rede</div>
            <ul>
                <li>descrição do projetos descrição </li>
               <li>Tecnologia1</li>
               <li>Tecnologia2</li>
               <li>Tecnologia3</li>
               <li>Tecnologia4</li>                              
           </ul>  
        </div>  
    </div>
    <div class="modal" id="Projeto3">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Projeto Rede</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <p>Desenho, documentação e instalação da rede para uma escola. Três redes foram realizados para que cada parte da escola pudesse 
                      melhorar seu desempenho administrativo, para que as aulas fossem mais dinâmicas e para que todos os visitantes pudessem acessar 
                      a rede.
                  </p>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row section3 sobre" data-toggle="modal" data-target="#Projeto4">
              <div class="col m-3">
                <div id="sub">Logo</div>
                <ul>
                  <li>descrição do projetos descrição</li>
                  <li>Tecnologia1</li>
                  <li>Tecnologia2</li>
                  <li>Tecnologia3</li>
                  <li>Tecnologia4</li>          
                </ul>
              </div>
              <div class="col">
                <img class="imagemProjeto"  src="./assets/logo/completa_fundo_preto_fonte_branca.jpg">
              </div> 
            </div> 
            <div class="modal" id="Projeto4">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Projeto Rede</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      <p>Desenho, documentação e instalação da rede para uma escola. Três redes foram realizados para que cada parte da escola pudesse 
                          melhorar seu desempenho administrativo, para que as aulas fossem mais dinâmicas e para que todos os visitantes pudessem acessar 
                          a rede.
                      </p>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>
</div>

<!--
    </div>-->