.apre{
    background-color: white;
    margin-top: 5%;
}

fieldset{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
}

h2{
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 5%;
}

