<header></header>
<h2>Solicite seu orçamento</h2>
<div class="rafael">
    <form class="formu" [formGroup]="formulario" (submit)="testar()">
        <!--Div relacionada ao campo nome-->
        <div class="divi" >
            <input type="text" name="nome" class="caixa" placeholder="nome" formControlName="nome" autofocus>
            <div>
                <small *ngIf="formulario.get('nome').errors?.required; then verdadeiro else falso"></small>
                <ng-template #verdadeiro>Esse campo é obrigatório</ng-template>
                <ng-template #falso></ng-template>
                <small *ngIf="">O nome precisa ter mais de 4 caracteres</small>
                <small *ngIf="">O nome precisa ter menos de 30 caracteres</small>
            </div>
            <small *ngIf=""> ✔️ </small>
        </div>
        <!--Div relacionada ao campo email-->
        <div class="divi">
            <input type="email" name="email" class="caixa" placeholder="email@email.com" formControlName="email">
            <div>
                <small *ngIf="formulario.get('email').errors?.required; then verdadeiro else falso"></small>
                <ng-template #verdadeiro>Esse campo é obrigatório</ng-template>
                <ng-template #falso></ng-template>
                <small *ngIf="">Email inválido</small>
            </div>
            <small *ngIf=""> ✔️ </small>
        </div>
        <!--Div relacionada ao campo serviço-->
        <div class="divi">
            <select name="servico" class="caixa">
                <option *ngFor="let ser of servicos">{{ser}}</option>
            </select>
            <!--<div>
                <small>Este campo é obrigatório</small>
            </div>
            <small> ✔️ </small>-->
        </div>
        <!--Div relacionada ao campo descrição-->
        <div class="divi">
            <textarea class="caixa" name="descricao" rows="3" placeholder="Escveva uma breve descrição do que precisa" formControlName="cxMsg"></textarea>
            <div>
                <small *ngIf="formulario.get('cxMsg').errors?.required; then verdadeiro else falso"></small>
                <ng-template #verdadeiro>Esse campo é obrigatório</ng-template>
                <ng-template #falso></ng-template>
            </div>
            <small *ngIf=""> ✔️ </small>
        </div>
        <!--Div relacionada ao campo botão-->
        <div>
            <button class="btn botao" [disabled]="formulario.invalid" >Enviar</button>
        </div>
    </form>
</div>

