<header></header>
<h2>Solicite seu orçamento</h2>
<div class="rafael">
    <form class="formu">
        <!--Div relacionada ao campo nome-->
        <div class="divi" >
            <input placeholder="Nome" type="text" name="nome" class="caixa">
            <!--<div>
                <small>Este campo é obrigatório</small>
                <small>O nome precisa ter mais de 4 caracteres</small>
                <small>O nome precisa ter menos de 30 caracteres</small>
            </div>
            <small> ✔️ </small>-->
        </div>
        <!--Div relacionada ao campo email-->
        <div class="divi">
            <input placeholder="email@email.com" type="email" name="email" class="caixa">
            <!--<div>
                <small>Este campo é obrigatório</small>
                <small>Email inválido</small>
            </div>
            <small> ✔️ </small>-->
        </div>
        <!--Div relacionada ao campo serviço-->
        <div class="divi">
            <select name="servico" class="caixa">
                <option  value="" selected style="display:none">Serviços</option>
                <option>{{s}}</option>
            </select>
            <!--<div>
                <small>Este campo é obrigatório</small>
            </div>
            <small> ✔️ </small>-->
        </div>
        <!--Div relacionada ao campo descrição-->
        <div class="divi">
            <textarea placeholder="Descrição da sua solicitação" class="caixa" maxlength="250" name="descricao" rows="3"></textarea>
            <!--<div>
                <small>Este campo é obrigatório</small>
            </div>
            <small> ✔️ </small>-->
        </div>
        <!--Div relacionada ao campo botão-->
        <div>
            <button class="btn botao" >Enviar</button>
        </div>
    </form>
</div>

