<!--NavBar-->
<div class="wrapper">
     <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
         </div>
      <div class="logo">
          <a routerLink=""><img src="assets/logo/cortenome_branco_sem_fundo.png" style="height: 18px;"></a>
          
        </div>
        <div class="menu">
           <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="contato">Contato</a></li>
              <li><a routerLink="depoimento">Depoimentos</a></li>
              <li><a routerLink="servico">Serviços</a></li>
              <li><a routerLink="form">Orçamento</a></li>
              <li><a routerLink="portifolio">Portifolio</a></li>
           </ul>
        </div>
     </nav>

</div>

<router-outlet></router-outlet>

<!--Footer-->
<footer class="context-dark bg-image">
  <div class="container-fluid">
    <div class="row row-30">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-3 divf">
        <h5 class="textf">Serviços</h5>
        <ul class="ulf">
          <a class="af" routerLink="form"><li>teste</li></a>
          <a class="af"  routerLink="form"><li>teste</li></a>
          <a class="af"  routerLink="form"><li>teste</li></a>
          <a class="af"  routerLink="form"><li>teste</li></a>        
        </ul>
      </div>
      <div class="col-md-3 divf">
        <h5 class="textf">Sobre</h5>
        <ul class="ulf">
          <a class="af"  routerLink="form"><li>Home</li></a>
          <a class="af"  routerLink="form"><li>About</li></a>
          <a class="af"  routerLink="form"><li>teste</li></a>
          <a class="af"  routerLink="form"><li>teste</li></a>        
        </ul>
      </div>
      <div class="col-md-3 divf">
        <img class="logofl" src="assets/logo/logo_branca_sem_fundo.png">
        <!--<img class="logofn" src="assets/logo/nome_branco_sem_fundo.png">-->
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container batata">
    <div class="blur">
      <P class="copyr">2019 SanSeven Copyright&copy;. Todos os direitos reservados.</P>
    </div>
  </div>
</footer>


