<header>
  <div class="caption">
    <p class="border">SanSeven</p>
    <div class="barrinha2"></div>
    <p class="border2"> texto meramente ilustrativo pq eu n tenho criatividade pra escrever um texto bonito q todo mundo olhe e fale "nossa, q texto bonito, eu queria ser q nem esse escritor! cheio de criatividade e inteligencia"</p>
  </div>
</header>
<div class="container">
  <div class="pridiv">
    <div class="test">
      
    </div>
    <div class="caption2">
      <p class="titulo">O que é o <span>SanSeven</span></p>
      <div class="barrinha"></div>
      <p class="texto textomenor">
        A empresa de informática que pensa no melhor para o seus clientes. Fique a vontade para explorar nosso site, saiba mais sobre nois, fale com a gente, veja o que os nossos clientes falam sobre nossa empresa, veja nossa UML e saiba nossos Orçamentos.
      </p>
    </div>
    <div class="test2"></div>
    <div class="contat">
      <P>Entre em contato conosco</P>
      <button routerLink="contato" class="btn">Ir para contato</button>
    </div>
  </div>
  <div style="height: 50vh">
    <div class="ba">
    </div>
    <div class="bb" style="color: black;">
      <p class="pcard">Temos especialistas em front-engine</p>
    </div>
    <div class="bc" style="color: white;">
      <p class="pcard">Também fazemos serviços relacionados a redes de  computadores</p>
    </div>
    <div class="bd" style="color: black;">
      <p class="pcardg">Começamos como um erro, e agora somos a maior no quesito informática. Saiba mais sobre nossa história na página "Quem Somos".</p>
    </div>
  </div>
</div>
<div class="divisaoh">

</div>
<div class="qsomos">
  <div class="sobre1">
  <div class="barrinha barrinha4"></div>
    <p class="titulo titulo2">Quem somos?</p>
    <p class="texto texto2" >Somos uma equipe formada por integrantes do curso de Tec em informática do Senac, turma fundada em 2018 e resolvemos abrir uma empresa de tecnologia, A Sanseven é uma empresa de Suporte à Tecnologia de Informação e Informática com uma gama de serviços variados, visando atender desde Consumidores Domésticos até empresas de Pequeno porte.
      Com atendimentos sob demanda ou agendados, ou ainda por meio de contratos de fornecimento de serviço quando empresa nosso foco é oferecer a rápida resolução de problemas ligados a Software, Hardware e Eletricidade, de uma forma simples e ao mesmo tempo instrutiva, sem pesar no bolso.
      Temos como visão sermos reconhecidos pela qualidade no trabalho oferecido, excelência em atendimento aos clientes finais e capacidade de integração entre a Tecnologia e Processos de negócio.</p>
  </div>

  <div class="testbaixo2"></div>
  
  <div class="test3">

  </div>

  <div class="sobre2">
  <div class="barrinha barrinha3"></div>
    <p class="titulo titulo2">Como nós ajudamos?</p>
    <p class="texto texto2" >Com ótimos colaboradores, oferecemos um trabalho de ótima qualidade e eficaz, visando sempre o melhor para nossos clientes. Queremos fazer diferença de verdade no seu dia a dia, e no seu Negócio também!
        Trabalhamos para ser uma alternativa viável e confiável na prestação de serviços em tecnologia, tanto do ponto de vista funcional quanto técnico e financeiro.
        Nosso foco é atender tanto profissionais liberais ou usuários quanto pequenas empresas, de modo a diminuir a demanda por especialistas e reduzir paradas no trabalho por conta de problemas ou dúvidas técnicas.
        Seja por meio de reparos em Informática, ou seja, por meio de prestação de serviços preditivos e preventivos, nosso foco é estar ao seu lado desde nas necessidades e eventos mais corriqueiros até grandes demandas.
        </p>
  </div>

  <div class="testbaixo"></div>
</div>
       